<h1>Welcome! Please Sign-Up For A New Account:</h1>

<form action="/users" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
