<h1 id="main_title">Welcome to Flash 'em!</h1>

<div class="wrapper">

  <div class="center">
  <% @decks.each do |deck| %>

  <div class="space">
    <a href="/game/<%= deck.id %>/show"> <%= deck.name %> </a>
  </div>

  <% end %>

  </div>

  <div class="footer"></div>
</div>
